body {
    background-color: rgb(5, 72, 62);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-container {
    display: grid;
    grid-auto-rows: minmax(250px, 1fr);
    grid-template-columns: 220px 220px 220px;
    gap: 40px;
    padding: 20px;
}

.card {
    background-color: #2aad62;
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 2px 2px 2px #053831;
    border-left: 15px solid #1e673e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-image: linear-gradient(to bottom, rgb(30, 103, 62), greenyellow) 0 1;


}

.title {
    font-weight: 600;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.icon-buttons{
    text-align: center;
    position: absolute;
    bottom: 12px;
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    left: 12px;
    
}

.remove-button, .read-button {
    background-color: none;
    background-image: none;
    width: 30px;
    height: 30px;
    margin: 2px;
    filter: invert(15%) sepia(10%) saturate(5193%) hue-rotate(131deg) brightness(97%) contrast(96%);
}


.remove-button:hover {
    /* filter black to red */
    filter: invert(27%) sepia(7%) saturate(4155%) hue-rotate(314deg) brightness(92%) contrast(86%);
    background-image: none;
    background-color: none;
    box-shadow: none;
    cursor: pointer ;
}

.read-button:hover {
    background-image: none;
    background-color: none;
    box-shadow: none;
    cursor: pointer;

    /* filter black to green:  invert(59%) sepia(22%) saturate(2576%) hue-rotate(101deg) brightness(98%) contrast(91%);*/
}

.card img {
    height: 20px;
    margin-bottom: 3px; 
}

.author {
    margin-top: 4px;
    font-style: italic;
    padding-bottom: 10px;
}

.read, .pages {
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}

button, h1 {
    display: flex;
    justify-content: center;
}

h1 {
   text-transform: uppercase;
   letter-spacing: 2px;
   text-shadow: #173429 3px 5px 2px, 2px 2px 2px rgba(10,93,29,0);
}

button {
    width: 150px;
    height: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(90deg, rgba(30,103,62,1) 0%, rgba(173,255,47,1) 100%);
    color: white; 
    margin: auto;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
}

button:hover {
    background: linear-gradient(90deg, rgba(173,255,47,1) 0%, rgba(30,103,62,1) 100%);
    box-shadow: 2px 2px 2px rgb(5, 56, 49);
}

.form-popup {
    display: none;
    position: fixed;
    top: 20px;
    z-index: 9;
}

.form-container {
    max-width: 350px;
    height: 500px;
    padding: 20px;
    background-color: seagreen;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 2px 2px 2px rgb(5, 56, 49);
}

.form-container input[type=text], .form-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgb(202, 248, 220);
    border-radius: 5px;
    color:#366050
}

.form-container input[type=text]:focus, .form-container input[type=number]:focus {
background-color: rgb(230, 253, 239);
outline: none;    
}

.form-container > label {
    font-size: 20px;
}

label[for=read] {
    position: absolute;
    text-align: center;
    margin-left: 117px;
    margin-bottom: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 110%;
    width: 110%;
    top: 23px;
    left: 5px;
    z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    top: 22px;
    left: 42px;
    height: 25px;
    width: 25px;
    background-color: rgb(202, 248, 220);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: rgb(181, 213, 193);
}

/* When the checkbox is checked, add a blue background */ 
.container input:checked ~ .checkmark {
   background-color: #0ccc5f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { 
    content: "";
    position: absolute;
    display: none; 
}

/* Show the checkmark when checked */ 
.container input:checked ~ .checkmark:after {
     display: block;
} 

/* Style the checkmark/indicator */ 
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.form-container > button {
    display: inline-block;
    margin: 75px 10px 20px 10px;
}

.btn {
    background: none;
    background-color: #0ccc5f;
}

.btn-cancel {
    background: none;
    background-color: #763c3c;
}

.btn:hover {
    background: none;
    background-color: #33e27f;
}

.btn-cancel:hover {
    background: none;
    background-color: #a46363;
}